/* FOOTER */

.main-footer {
  margin-top: 0;
  padding: 3rem 5%;
  background: #111;
  color: white;
}

.main-footer p {
  color: #bbb;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-section a {
  display: block;
  color: #ccc;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.main-footer a:hover {
  text-underline-offset: 0.4rem;
}

.footer-section p {
  margin: 0.25rem 0;
}

.copyright {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

@media screen and (max-width: 640px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
}
